.courseInfoContainer {
	/* display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; */
	margin: 20px auto;
	width: 99%;
	min-height: 80vh;
	border: 1px solid #408e91;
	padding: 16px;
}

.courseInfoContainer h1 {
	text-align: center;
	min-width: 20%;
	margin: 40px auto;
}
.courseInfoContainer-generalInfo {
	margin-top: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: auto;
	justify-items: center;
	align-items: start;
}
.courseInfoContainer-description {
	width: 100%;
	min-height: 450px;
	max-height: 650px;
	overflow-y: auto;
	/* overflow-x: scroll; */
	text-overflow: ellipsis;
	position: relative;
	padding: 2%;
	line-height: 1.6rem;
}

.courseInfoContainer-description p {
	width: 100%;
	height: 80%;
	word-wrap: break-word;
}

.courseInfoContainer-description::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
	opacity: 0.5;
}

.courseInfoContainer-description::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 8px;
}

aside {
	padding: 2%;
}
aside p {
	margin-bottom: 6px;
}

aside p strong {
	color: #569daa;
}
