.courseCard-box {
	width: 90%;
	border: 1px solid #98d8aa;
	margin: 0 auto 20px auto;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.courseCard-title-description {
	/* display: flex;
	flex-direction: column; */
	width: 60%;
	min-height: 220px;
	max-height: 450px;
	overflow-y: auto;
	/* overflow-x: scroll; */
	text-overflow: ellipsis;
	position: relative;
}

.courseCard-title-description::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
	opacity: 0.5;
}

.courseCard-title-description::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 8px;
}

.courseCard-title-description p {
	width: 100%;
	height: 80%;
	word-wrap: break-word;
	text-overflow: ellipsis;
}

.courseCard-title-description h1 {
	margin-bottom: 10px;
	top: 0;
	z-index: 1;
	position: sticky;
}

.courseCard-restInfo {
	width: 30%;
}

.courseCard-restInfo--authors {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.courseCard-restInfo h3 {
	margin-bottom: 10px;
}

.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.editButton {
	width: 40px;
	height: 40px;
	background-image: url('../../../assets/icons8-pencil-50.png');
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}

.deleteButton {
	width: 40px;
	height: 40px;
	background-image: url('../../../assets/icons8-delete-100.png');
	background-repeat: no-repeat;
	background-size: 98%;
	background-position: center;
}

@media (max-width: 760px) {
	.buttons {
		flex-direction: column;
		align-items: center;
	}
}
